* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #4F4F4F;
}

body {
    background-image: linear-gradient(to right, #FFEE1C, #4801F6);
}

/* Formatação do cabeçalho */
nav {
    margin-left: 40px;
}

.links {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: background-color 1s;
    display: inline-block;
    margin-left: 100px;
    margin-top: 15px;
}

a:hover {
    background-color: #606060;
    color: #FFFFFF;
    border-radius: 5px;
}

#layer {
    width: 45px;
    margin-top: 10px;
}

/* Formatação do section */
.photograph-guilherme {
    width: 200px;
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    border-radius: 10px;
}

.photograph-daniel {
    width: 200px;
    position: absolute;
    margin-left: 100px;
    margin-top: 300px;
    padding-bottom: 15px;
    border-radius: 10px;
}

#paragraph-one {
    display: block;
    text-align: center;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    padding-top: 200px;
    padding-left: 300px;
}

#paragraph-two {
    display: block;
    text-align: center;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    padding-top: 500px;
    padding-left: 330px;
}

/* Formatação das redes sociais do Guilherme */
.Guilherme {
    display: block;
    text-align: center;
    margin-top: 50px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}

.Guilherme-s-social-networks-linkedin {
    position: absolute;
    display: block;
    width: 35px;
    margin-left: 668px;
}

.Guilherme-s-social-networks-instagram {
    position: absolute;
    display: block;
    width: 25px;
    margin-left: 672px;
}

.Guilherme-s-social-networks-github {
    position: absolute;
    display: block;
    width: 25px;
    margin-left: 672px;
}

.Guilherme-s-social-networks-whatsapp {
    position: absolute;
    display: block;
    width: 25px;
    margin-left: 672px;
}

/* Formatação redes sociais do Daniel */
.Daniel {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}

.Daniel-s-social-media-linkedin {
    position: absolute;
    display:block;
    width: 35px;
    margin-left: 668px;
}

.Daniel-s-social-media-instagram {
    position: absolute;
    display: block;
    width: 25px;
    margin-left: 672px;
}

.Daniel-s-social-media-github {
    position: absolute;
    display: block;
    width: 25px;
    margin-left: 672px;
}

.Daniel-s-social-media-whatsapp {
    position: absolute;
    display: block;
    width: 25px;
    margin-left: 672px;
}
